*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./assets/bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
h1{
    color: rgb(175, 16, 248);
    font-size: 60px;
    text-align: center;
    margin-top: 80px;
    font-weight:bolder;
}
.logo{
    margin: 50px 0 0 60px;
}
.playbtn{
    height: 35px;
    width: 35px;
}
button{
    background-color: rgba(233, 150, 122, 0);
    border: 0 solid black;
    color: white;
    margin: 10px 10px 100px 300px ;
}
span{
    font-size: 27px;
    margin-left: 20px;
    position: absolute;
}